$blue: #548ec0;
$light-blue: #afcfea;
$light-green: #80f595;
$light-red: #eb8080;
$light-color: #fff;
$dark-color: #000;
$grey-color: #f2f2f2;
$transition: all 300ms ease-in-out;
.main {
  .question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  .options {
    margin: 0.2rem 0;
    button {
      width: 100%;
      border-radius: 0.5rem;
      font-weight: 600;
      margin: 0.4rem 0;
      padding: 0.4rem 1.2rem;
      cursor: pointer;
      border: 3px solid $light-blue;
      background-color: $light-blue;
      color: $dark-color;
      box-shadow: 0 4px 0 0 $light-blue;
      transition: $transition;
      &:hover {
        border-color: $grey-color;
        box-shadow: 0 2px 0 0 #bbbbbb;
      }
      &:active {
        transform: scale(1);
      }
      &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
        border-color: $light-blue;
        box-shadow: 0 0 0 0 transparent;
        // transform: normal
      }
      &.correct {
        background-color: $light-green !important;
        color: $dark-color !important;
        border-color: $light-green !important;
        box-shadow: 0 4px 0 0 $light-green !important;
      }

      &.inCorrect {
        background-color: $light-red !important;
        color: $dark-color !important;
        border-color: $light-red !important;
        box-shadow: 0 4px 0 0 $light-red !important;
      }
    }
  }
}

.final-score {
  h3 {
    text-align: center;
  }
}

// .main{

//     .options {
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//         width: 40%;

//         button {
//             background-color: #fff;
//             // border: none;
//             padding: 10px;
//             cursor: pointer;
//             transition: background-color 0.3s ease;
//             &.selected {
//               background-color: #a8dadc;
//             }
//             &.correctColor {
//               background-color: #2a9d8f;
//               color: #fff;
//             }
//             &.incorrectColor {
//               background-color: red;
//               color: #fff;
//             }
//         }
//     }
// }
