<div class="flex">
  <div class="wrapper">
    <ng-container *ngIf="triviaState$ | async as trivia">
      <!-- {{ trivia | json }} -->
      <ng-container *ngIf="trivia.showFooter; else footer">
        <quiz-app-quiz-head
          [currentQuestionNumber]="trivia.currentQuestionNumber"
          [totalQuestions]="trivia.totalQuestions"
          [score]="trivia.score"
        ></quiz-app-quiz-head>
        <quiz-app-quiz-body
          [correctAnswer]="trivia.correctAnswer"
          [response]="trivia.response"
          (optionClick)="handleOption($event)"
          [currentQuestion]="trivia.currentQuestion"
          [options]="trivia.options"
        ></quiz-app-quiz-body>
        <quiz-app-quiz-footer
          [lastQuestion]="trivia.lastQuestion"
          [previousAllowed]="previousAllowed"
          (nextButton)="nextQuestion()"
          (previousButton)="previousQuestion()"
          (skipButton)="skipQuestion()"
        ></quiz-app-quiz-footer>
      </ng-container>
      <ng-template #footer>
        <quiz-app-quiz-result
          (restartTrivia)="restartQuiz()"
        ></quiz-app-quiz-result>
        <router-outlet></router-outlet>
      </ng-template>
    </ng-container>
  </div>
</div>
