.restartBtnFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.3rem;
  height: 90vh;
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .restartQuiz {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
      sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    &:hover,
    &:focus {
      background-color: #07c;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
    }

    &:active {
      background-color: #0064bd;
      box-shadow: none;
    }
  }
}
.window-flex {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  .attempted-question {
    padding: 20px;
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  }
  ul {
    padding: 1rem 2rem;
  }
  span {
    font-weight: 600;
  }
  .correctAnswerText {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
  }
}

.correct {
  color: #2a9d8f;
}

.inCorrect {
  color: red;
}
