<!-- <div class="footer">
  <button
    [disabled]="!previousAllowed"
    type="button"
    class="previous-question"
    (click)="previousQuestion()"
  >
    Previous
  </button>
  <ng-container>
    <button (click)="nextQuestion()" class="next-question">
      <span *ngIf="!lastQuestion; else finishButton">Next</span>
    </button>
  </ng-container>
  <ng-template #finishButton>
    <span>Finish</span>
  </ng-template>
  <button (click)="skipQuestion()" class="skip-question">Skip</button>
</div> -->
<div class="option-window">
  <div class="radio-btns">
    <div *ngFor="let option of options">
      <input
        type="radio"
        name="options"
        id="{{ 'option' }}"
        (click)="handleOption(option)"
        [disabled]="response"
      />
      <label
        [ngClass]="{
          correct: response && option === correctAnswer,
          inCorrect:
            response && response !== correctAnswer ? option === response : null
        }"
        for=""
        >{{ option }}</label
      >
    </div>
    <div class="btn-flex">
      <button
        [disabled]="isFirstQuestion"
        type="button"
        class="previous-btn"
        (click)="previousQuestion()"
      >
        Previous
      </button>
      <!-- <button class="next-btn" (click)="nextQuestion()">
        {{ nextBtn }}
      </button> -->
      <ng-container>
        <button (click)="nextQuestion()" class="next-btn">
          <span
            *ngIf="currentQuestionNumber < questions.length; else finishButton"
            >Next</span
          >
        </button>
      </ng-container>

      <ng-template #finishButton>
        <span>Finish</span>
      </ng-template>
    </div>
  </div>
</div>
